@font-face {
  font-family: LimonS2;
  font-display: block;
  src: url("/lmns1.ttf") format("truetype");
}

* {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, "Noto Serif Khmer", sans-serif;
  font-size: 16px;
  color: #2b2b2b;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #eee;
  min-height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

#preview {
  text-align: center;
  word-wrap: break-word;
}

.font-limon {
  font-weight: normal;
  font-size: 30px;
  color: darkolivegreen;
  min-height: 44px;
  font-family: LimonS2, Inter, "Noto Serif Khmer", sans-serif;
  line-height: 0;
  padding: 0;
  background-color: white;
}


#text-output {
  background-color: white;
}

button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1rem;
  border: none;
  background-color: #2b2b2b;
  color: white;
  outline: none;
  transition: 0.2s ease;
}

button:not(:disabled):hover {
  background-color: rgba(43, 43, 43, 0.9);
}

button:not(:disabled):active {
  background-color: rgba(30, 30, 30, 1);
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.2rem 0.4rem;
  line-height: 2.2;
  border-radius: 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
  box-shadow: 1px 1px 20px -10px rgba(0, 0, 0, 0.05);
  outline: none;
}

input:focus {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 512px;
  margin: 0 auto;
  padding: 0.2rem;
  margin-bottom: 4rem;
}

.flex-col {
  flex-direction: column;
  display: flex;
}

.text-center {
  text-align: center;
}

.self-center {
  align-self: center;
}

.gap {
  gap: 0.8rem;
}

.gap-sm {
  gap: 0.4rem;
}

a {
  color: black;
}

.modal {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal-card {
  background-color: white;
  width: 320px;
  max-height: 60vh;
  overflow-y: scroll;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
  border: 1px solid black;
}

.flex {
  display: flex;
}

.hidden {
  visibility: hidden;
  display: none;
}

.modal-card p small {
  color: gray;
}